{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Editar Recomendación{% endblock %}

{% block content %}

<div class="app-content main-content mt-0">
    <div class="side-app"> <!-- CONTAINER -->
        <div class="main-container container-fluid"> <!-- PAGE-HEADER -->
            <div class="page-header">
                <div>
                    <h1 class="page-title">Editar Recomendación</h1>
                </div>
                <div class="ms-auto pageheader-btn">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Mantenedor Sistema</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Editar Recomendación</li>
                    </ol>
                </div>
            </div> <!-- PAGE-HEADER END --> <!-- row -->
            <div class="card"> 
                <div class="panel panel-primary">
                    <div class="tab-menu-heading border-bottom-0"> 
                        <div class="tabs-menu4 border-bottomo-sm"> 
                            <!-- Tabs --> 
                            <nav class="nav d-sm-flex d-block"> 
                                <a id="nav25" class="nav-link border border-bottom-0 br-sm-5 me-2 active" data-bs-toggle="tab" href="#tab25">Recomendación Programada</a> 
                                <a id="nav26" class="nav-link border border-bottom-0 br-sm-5 me-2" data-bs-toggle="tab" href="#tab26">Recomendación Ajuste</a>
                                <a id="nav27" class="nav-link border border-bottom-0 br-sm-5 me-2" data-bs-toggle="tab" href="#tab27">Recomendación Final</a>
                            </nav> 
                        </div> 
                    </div>
                    <div class="panel-body tabs-menu-body"> 
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab25">
                                <div class="row row-sm">
                                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                                        <div class="card box-shadow-0">                        
                                            <div class="card-body">
                                                <h4 class="card-title">Datos Principales</h4>
                                                <p class="card-title">Atención: no se puede eliminar este registro</p>
                                                <form class="form-horizontal" id="form" action="#" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id" value="{{ documento_id }}">                           
                                                    <div class="row row-sm">
                                                        {{ formeditar|crispy }}
                                                    </div>
                                                    <div class="form-group mt-3">
                                                        <div> 
                                                            <a class="btn btn-secondary" href="{% url 'manage_recomendacion' %}">Regresar</a>
                                                            <button type="submit" class="btn btn-primary">Guardar</button>                                         
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>  
                                        </div>
                                    </div>                
                                </div>
                            </div>
                            <div class="tab-pane" id="tab26"> 
                                <div class="row row-sm">
                                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                                        <div class="card box-shadow-0">                        
                                            <div class="card-body">
                                                <h4 class="card-title">Datos Principales</h4>
                                                <p class="card-title">Atención: no se puede eliminar este registro</p>
                                                <form class="form-horizontal" id="formAjuste" action="#" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id" value="{{ documento_id }}">                           
                                                    <div class="row row-sm">
                                                        {{ formeditarajuste|crispy }}
                                                    </div>
                                                    <div class="form-group mt-3">
                                                        <div> 
                                                            <a class="btn btn-secondary" href="{% url 'manage_recomendacion' %}">Regresar</a>
                                                            <button type="submitAjuste" class="btn btn-primary">Guardar</button>                                         
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>  
                                        </div>
                                    </div>  
                                </div>
                            </div>
                            <div class="tab-pane" id="tab27"> 
                                <div class="row row-sm">
                                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                                        <div class="card box-shadow-0">                        
                                            <div class="card-body">
                                                <h4 class="card-title">Datos Principales</h4>
                                                <p class="card-title">Atención: no se puede eliminar este registro</p>
                                                <form class="form-horizontal" id="formFinal" action="#" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id" value="{{ documento_id }}">                           
                                                    <div class="row row-sm">
                                                        {{ formeditarfinal|crispy }}
                                                    </div>
                                                    <div class="form-group mt-3">
                                                        <div> 
                                                            <a class="btn btn-secondary" href="{% url 'manage_recomendacion' %}">Regresar</a>
                                                            <button type="submit" class="btn btn-primary">Guardar</button>                                         
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>  
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
    document.getElementById('div_id_campana').classList.add('col-md-4');
    document.getElementById('div_id_programa').classList.add('col-md-4');
    document.getElementById('div_id_recomendacion').classList.add('col-md-4');
    document.getElementById('div_id_pozo').classList.add('col-md-4');
    document.getElementById('div_id_sonda').classList.add('col-md-4');
    document.getElementById('div_id_fecha_inicio').classList.add('col-md-4');
    document.getElementById('div_id_sector').classList.add('col-md-4');
    document.getElementById('div_id_azimut').classList.add('col-md-4');
    document.getElementById('div_id_inclinacion').classList.add('col-md-4');
    document.getElementById('div_id_este').classList.add('col-md-4');
    document.getElementById('div_id_norte').classList.add('col-md-4');
    document.getElementById('div_id_cota').classList.add('col-md-4');
    document.getElementById('div_id_largo_programado').classList.add('col-md-4');
    document.getElementById('div_id_estado').classList.add('col-md-4');
    document.getElementById('div_id_azimutAjuste').classList.add('col-md-4');
    document.getElementById('div_id_esteAjuste').classList.add('col-md-4');
    document.getElementById('div_id_norteAjuste').classList.add('col-md-4');
    document.getElementById('div_id_cotaAjuste').classList.add('col-md-4');
    document.getElementById('div_id_manteoAjuste').classList.add('col-md-4');
    document.getElementById('div_id_esteFinal').classList.add('col-md-4');
    document.getElementById('div_id_norteFinal').classList.add('col-md-4');
    document.getElementById('div_id_cotaFinal').classList.add('col-md-4');
    document.getElementById('div_id_fechaFinal').classList.add('col-md-4');
</script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        // Seleccionar el formulario y todos los campos
        const form = document.querySelector('#form');
        const inputs = form.querySelectorAll('input, select, textarea');
        const azimutField = document.getElementById("id_azimut");
    
        // Lista de campos obligatorios
        const requiredFields = ["recomendacion", "pozo", "sonda", "fecha_inicio", "sector", "inclinacion"];
    
        // Función para validar un campo individualmente
        const validateField = (input) => {
            const value = input.value.trim();
            let isValid = true;
    
            // Validar solo los campos obligatorios
            if (requiredFields.includes(input.name)) {
                isValid = value.length > 0; // No puede estar vacío
            }
    
            // Validaciones personalizadas adicionales
            if (input.name === "azimut") {
                isValid = value === "" || (/^\d+$/.test(value) && parseInt(value) >= 0 && parseInt(value) <= 360);
            } else if (["inclinacion", "largo_programado", "largo_real", "este", "norte", "cota"].includes(input.name) && value !== "") {
                isValid = /^-?\d+(\.\d{1,3})?$/.test(value); // Números enteros o decimales
            } else if (input.name === "fecha_inicio") {
                isValid = !isNaN(Date.parse(value)); // Fecha válida
            }
    
            return isValid;
        };
    
        // Validar en tiempo real cada vez que un campo cambia
        inputs.forEach((input) => {
            input.addEventListener('input', () => validateField(input));
        });
    
        // Validación específica del campo "azimut" (manteniendo el formato correcto)
        azimutField.addEventListener("input", function () {
            let value = this.value.trim();
    
            if (value !== "") {
                value = parseInt(value, 10);
                if (value < 0) {
                    this.value = "";
                } else if (value > 360) {
                    this.value = 360;
                }
            }
        });
    
        // Validar el formulario antes de enviarlo
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            let isFormValid = true;
    
            requiredFields.forEach((fieldName) => {
                const field = document.querySelector(`[name="${fieldName}"]`);
                if (field) {
                    const valid = validateField(field);
                    if (!valid) {
                        isFormValid = false;
                    }
                }
            });
    
            if (isFormValid) {
                // Enviar el formulario si todo está correcto
                const formData = new FormData(form);
                $.LoadingOverlay("show");
                $.ajax({
                    url: '{% url "save_edit_recomendacion" %}', // URL específica para guardar la edición
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        $.LoadingOverlay("hide");
                        Swal.fire({
                            icon: 'success',
                            title: 'Recomendación Actualizada con éxito!',
                            confirmButtonColor: '#ff00d9',
                        }).then(() => {
                            window.location.href = '{% url "manage_recomendacion" %}';
                        });
                    },
                    error: function (error) {
                        $.LoadingOverlay("hide");
                        Swal.fire({
                            icon: 'error',
                            titleText: 'Recomendación no se Actualizó',
                            text: 'Vuelva a intentarlo!',
                            confirmButtonColor: '#ff00d9',
                        });
                    },
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    titleText: 'Formulario Incompleto',
                    text: 'Por favor, complete todos los campos obligatorios antes de enviar.',
                    confirmButtonColor: '#ff00d9',
                });
            }
        });
    });
</script>
<script type="text/javascript"> 
    const formAjuste = document.querySelector('#formAjuste');
    formAjuste.addEventListener('submit', (event) => {
    event.preventDefault();        
    const formDataAjuste = new FormData(formAjuste);
    $.LoadingOverlay("show");
    $.ajax({
        url: '{% url 'save_edit_recomendacion_ajuste' %}',
        type: 'POST',
        data: formDataAjuste,
        processData: false,
        contentType: false,
        success: function(response) {
            $.LoadingOverlay("hide");
            Swal.fire({
                icon: 'success',
                title: 'Recomendación Ajuste Actualizada con éxito!',
                confirmButtonColor: '#ff00d9',
            }).then(() => {
                window.location.href = '{% url 'manage_recomendacion' %}';
            });
        },
        error: function(error) {
            $.LoadingOverlay("hide");
            Swal.fire({
                icon: 'error',        
                titleText: 'Recomendación no se Actualizó',
                text: 'Vuelva a intentarlo!',  
                confirmButtonColor: '#ff00d9',
            })
        }
        });
    });
</script>
<script type="text/javascript"> 
    const formFinal = document.querySelector('#formFinal');
    formFinal.addEventListener('submit', (event) => {
    event.preventDefault();        
    const formDataFinal = new FormData(formFinal);
    $.LoadingOverlay("show");
    $.ajax({
        url: '{% url 'save_edit_recomendacion_final' %}',
        type: 'POST',
        data: formDataFinal,
        processData: false,
        contentType: false,
        success: function(response) {
            $.LoadingOverlay("hide");
            Swal.fire({
                icon: 'success',
                title: 'Recomendación Final Actualizada con éxito!',
                confirmButtonColor: '#ff00d9',
            }).then(() => {
                window.location.href = '{% url 'manage_recomendacion' %}';
            });
        },
        error: function(error) {
            $.LoadingOverlay("hide");
            Swal.fire({
                icon: 'error',        
                titleText: 'Recomendación no se Actualizó',
                text: 'Vuelva a intentarlo!',  
                confirmButtonColor: '#ff00d9',
            })
        }
        });
    });
</script>
{% endblock javascript %}

{% block messages %}
{% endblock messages%}