{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Editar Mi Perfil{% endblock %}


{% block css %}
    <link href="{% static 'css/floating.css' %}" rel="stylesheet" />
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/responsive.dataTables.min.css' %}" rel="stylesheet" />
{% endblock css %}

{% block content %}

<div class="app-content main-content mt-0">
    <div class="side-app"> <!-- CONTAINER -->
        <div class="main-container container-fluid"> <!-- PAGE-HEADER -->
            <div class="page-header">
                <div>
                    <h1 class="page-title">Información de Mi Perfil</h1>
                </div>
                <div class="ms-auto pageheader-btn">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Usuarios</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Editar Mi Perfil</li>
                    </ol>
                </div>
            </div> <!-- PAGE-HEADER END --> <!-- row -->
            
            <div class="row row-sm">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                    <div class="card box-shadow-0">                        
                        <div class="card-body">                             
                            <h4 class="card-title">Cambiar Contraseña</h4>
                            <input type="hidden" name="rut_username" value="{{ rut_username }}">
                            <div class="row row-sm">
                                <form method="POST" action="{% url 'save_password_change' %}">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                                </form> 
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script>
    document.getElementById('div_id_old_password').classList.add('col-md-4');
    document.getElementById('div_id_new_password1').classList.add('col-md-4');
    document.getElementById('div_id_new_password2').classList.add('col-md-4');
</script>
{% endblock javascript %}