{% extends 'main/base_login.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Acceso de Usuarios{% endblock %} 

{% block css %} 
{% endblock css %} 

{% block content %}
{% if user.is_authenticated %} 
    <meta http-equiv="REFRESH" content="0;url={% url 'dashboard' %}">
{% else %}
<div class="page">
    <div>
    <!-- CONTAINER OPEN -->        
        <div class="container-login100">
            <div class="wrap-login100 p-0">
                <div class="card-body">
                    <div class="col col-login mx-auto text-center">
                        <a href="#" class="text-center"><img src="{% static 'images/logo/logobg.jpeg' %}" class="header-brand-img" alt=""/></a>
                        <span href="#" class="login100-form-title">Recuperar contraseña</span>
                    </div>  
                    {% if validlink %} 
                    <form class="login100-form validate-form" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mt-6"></div>
                        <div style="display: flex;justify-content: space-between;">
                            <a href="{% url 'logincustom' %}" class="btn btn-secondary">Regresar</a></p>                       
                            <button type="submit" class="btn btn-primary">Guardar Contraseña</button>
                        </div>
                    </form>
                    {% else %}
                    <p>El enlace de recuperación ha expirado o es inválido.</p>
                    <div class="mt-7"></div>
                    <a href="{% url 'logincustom' %}" class="btn btn-secondary" style="display: flex;justify-content: center;">Regresar</a></p>
                    {% endif %}
                </div>                
            </div>
        </div>
    <!-- CONTAINER CLOSED -->
    </div>
    {% include 'main/footer-login.html' %}
</div>
{% endif %}

{% endblock content %} 

{% block javascript %} 

{% endblock javascript %}
