{% extends 'main/base_login.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Acceso de Usuarios{% endblock %} 

{% block css %} 
{% endblock css %} 

{% block content %}
{% if user.is_authenticated %} 
    <meta http-equiv="REFRESH" content="0;url={% url 'dashboard' %}">
{% else %}
<div class="page">
    <div>
    <!-- CONTAINER OPEN -->        
        <div class="container-login100">
            <div class="wrap-login100 p-0">
                <div class="card-body">
                    <div class="col col-login mx-auto text-center">
                        <a href="#" class="text-center"><img src="{% static 'images/logo/logobg.jpeg' %}" class="header-brand-img" alt=""/></a>
                        <div class="mt-4"></div>
                        <span href="#" class="login100-form-title">Contraseña Actualizada</span>
                    </div>
                    <div class="mt-7"></div>                   
                    <a href="{% url 'logincustom' %}" class="btn btn-primary" style="display: flex;justify-content: center;">Ingresar</a></p>
                </div>                
            </div>
        </div>
    <!-- CONTAINER CLOSED -->
    </div>
    {% include 'main/footer-login.html' %}
</div>
{% endif %}

{% endblock content %} 

{% block javascript %} 

{% endblock javascript %}
