{% extends 'main/base_login.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block title %}Registro de Usuario{% endblock %}

{% block css %} 
{% endblock css %} 

{% block content %}
{% if user.is_authenticated %} 
    <meta http-equiv="REFRESH" content="0;url={% url 'dashboard' %}">
{% else %}
<div class="page">
    <div>
    <!-- CONTAINER OPEN -->
        <div class="container-login100">
            <div class="wrap-login100 p-0">
                <div class="card-body">
                    <div class="col col-login mx-auto text-center">
                        <a href="#" class="text-center"><img src="{% static 'images/logo/logobg.jpeg' %}" class="header-brand-img" alt=""/></a>
                        <span href="#" class="login100-form-title"> Panel de Registro </span>
                    </div> 
                    <form class="login100-form validate-form" id="form" action="{% url 'save_new_user' %}" method="POST">
                        {% csrf_token %}                    
                        {{ formregistro|crispy }}                        
                        <div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn btn-primary">Registrar</button>
                        </div>
                        <div class="text-center pt-3">
                            <p class="text-dark mb-0">Ya tienes una cuenta?<a href="{% url 'logincustom' %}" class="text-primary ms-1">Ingresa Aquí</a></p>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    <!-- CONTAINER CLOSED -->
    </div>
</div>
{% endif %}

{% endblock content %} 

{% block javascript %} 
<script type="text/javascript">        
    function formatUsuario(id_username)
    {id_username.value=id_username.value.replace(/[.-]/g, '')
    .replace( /^(\d{1,2})(\d{3})(\d{3})(\w{1})$/, '$1.$2.$3-$4')}
</script>
<script type="text/javascript">
    function formatTelefono(id_telefono)
    {id_telefono.value=id_telefono.value.replace(/[-]/g, '')
    .replace( /^(\d{1})(\d{4})(\d{4})$/, '$1$2$3')}
</script>
<script type="text/javascript">
document.getElementById("form").addEventListener("submit", function() {
    // Busca el botón de submit y lo deshabilita
    var btn = this.querySelector("button[type='submit']");
    btn.disabled = true;
    btn.innerText = "Enviando...";
});
</script>
{% endblock javascript %}
