<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 text-center">
                Copyright © 2023.
                Todos los derechos reservados.
                <a href="https://www.sicgeoatacama.cl/">Sicgeoatacama.</a>
                - Powered by                          
                <a href="https://www.isamax.cl/" target="_blank">www.isamax.cl</a>                              
            </div>
        </div>
    </div>
</footer>