{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Dashboard Prevención{% endblock %}

{% block css %}
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/responsive.dataTables.min.css' %}" rel="stylesheet" />
{% endblock css %}

{% block content %}
{% if request.user.role == "ADMINISTRADOR" %} 
    <div class="app-content main-content mt-0">
        <div class="side-app">
            <!-- CONTAINER -->
            <div class="main-container container-fluid">
                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <div>
                        <h1 class="page-title">Dashboard Prevención</h1>
                    </div>
                    <div class="ms-auto pageheader-btn">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">Dashboard Prevención</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Dashboard Prevención
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <meta http-equiv="REFRESH" content="0;url={% url 'edit_my_profile' %}">
{% endif %}
{% endblock content %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
{% endblock javascript %}