{% load static %}
<div class="sticky is-expanded" style="margin-bottom: -74px;">
    <div class="app-sidebar__overlay active" data-bs-toggle="sidebar"></div>
    <div class="app-sidebar ps">
        <div class="side-header"> 
            <a class="header-brand1" href="{% url 'logincustom' %}"> 
                <img src="{% static 'images/logo/logobg.jpeg' %}" class="header-brand-img desktop-logo" alt="logo" />
                <img src="{% static 'images/logo/logobg.jpeg' %}" class="header-brand-img toggle-logo" alt="logo" />
                <img src="{% static 'images/logo/logobg.jpeg' %}" class="header-brand-img light-logo"  alt="logo" />
                <img src="{% static 'images/logo/logobg.jpeg' %}" class="header-brand-img light-logo1" alt="logo" /> 
                <h3>GeoAtacama</h3>
            </a>   
        </div>
        <!-- LOGO --> 
        <div class="main-sidemenu is-expanded">
            <div class="slide-left disabled active d-none" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                </svg> 
            </div>
            <ul class="side-menu open" style="margin-right: 0px; margin-left: 0px;">
                <li>
                    <h3>Menu Sondaje</h3>
                </li>
                {% if request.user.role != "SIN ASIGNAR" %}
                {% if request.user.role == "ADMINISTRADOR" %}
                <li class="slide"> 
                    <a class="side-menu__item has-link {% if sidebar == 'dashboardInventario' %}active{% endif %}" data-bs-toggle="slide" href="{% url 'dashboardInventario' %}"> 
                        <i class="icon-home icons-size"></i>  
                        <span class="side-menu__label">Dashboard</span> 
                    </a> 
                </li>
                {% endif %}
                <li>
                    <h3>Secciones</h3>
                </li>
                {% if request.user.role == "ADMINISTRADOR" %} 
                <li class="slide {% if sidebarmain == 'system_inventario_stock' %}is-expanded{% endif %}"> 
                    <a class="side-menu__item {% if sidebarmain == 'system_inventario_stock' %}is-expanded active{% endif %}" data-bs-toggle="slide" href="{% url 'manage_inventario_stock' %}"> 
                        <i class="icon-notebook icons-size"></i>
                        <span class="side-menu__label">Stock</span>
                        <i class="angle fa fa-angle-right"></i>
                    </a>
                </li>
                {% endif %}
                {% if request.user.role == "ADMINISTRADOR" %} 
                <li class="slide {% if sidebarmain == 'system_inventario_crear_item' %}is-expanded{% endif %}"> 
                    <a class="side-menu__item {% if sidebarmain == 'system_inventario_crear_item' %}is-expanded active{% endif %}" data-bs-toggle="slide" href="{% url 'manage_inventario_crear_item' %}"> 
                        <i class="icon-wrench icons-size"></i>
                        <span class="side-menu__label">Crear Item</span>
                        <i class="angle fa fa-angle-right"></i>
                    </a>
                </li>
                {% endif %}
                {% if request.user.role == "ADMINISTRADOR" or request.user.role == "BASE DATOS" %} 
                <li class="slide {% if sidebarmain == 'system_users' %}is-expanded{% endif %}"> 
                    <a class="side-menu__item {% if sidebarmain == 'system_users' %}is-expanded active{% endif %}" data-bs-toggle="slide" href="#"> 
                        <i class="icon-people icons-size"></i>
                        <span class="side-menu__label">Usuarios</span>
                        <i class="angle fa fa-angle-right"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class="side-menu-label1"><a href="javascript:void(0)">Usuarios</a></li>
                        <li><a href="{% url 'manage_users' %}" class="slide-item {% if sidebar == 'manage_users' %}active{% endif %}">Administrar</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if request.user.role == "ADMINISTRADOR" or request.user.role == "SUPERVISOR" or request.user.role == "BASE DATOS"%} 
                <li class="slide {% if sidebarmain == 'manage_system' %}is-expanded{% endif %}"> 
                    <a class="side-menu__item {% if sidebarmain == 'manage_system' %}is-expanded active{% endif %}" data-bs-toggle="slide" href="#"> 
                        <i class="icon-organization icons-size"></i>
                        <span class="side-menu__label">Mantenedor Sistema</span>
                        <i class="angle fa fa-angle-right"></i>
                    </a> 
                    <ul class="slide-menu">
                        <li class="side-menu-label1"><a href="javascript:void(0)">Mantenedor Sistema</a></li>
                        <li class="sub-slide {% if sidebarmenu == 'manage_inventory' %}is-expanded active{% endif %}"> 
                            <a class="sub-side-menu__item {% if sidebarmenu == 'manage_inventory' %}active{% endif %}" data-bs-toggle="sub-slide" href="#">
                                <span class="sub-side-menu__label ">Opciones Inventario</span>
                                <i class="sub-angle fa fa-angle-right"></i>
                            </a> 
                            <ul class="sub-slide-menu {% if sidebarmenu == 'manage_inventory' %}open{% endif %}"> 
                                <li><a class="sub-slide-item {% if sidebarsubmenu == 'manage_secciones' %}active{% endif %}" href="{% url 'manage_inventario_crear_secciones' %}" >Administrar Secciones</a></li> 
                                <li><a class="sub-slide-item {% if sidebarsubmenu == 'manage_categorias' %}active{% endif %}" href="{% url 'manage_inventario_crear_categorias' %}" >Administrar Categorías</a></li>
                                <li><a class="sub-slide-item {% if sidebarsubmenu == 'manage_duraciones' %}active{% endif %}" href="{% url 'manage_inventario_crear_duraciones' %}" >Administrar Duraciones</a></li>
                            </ul> 
                        </li>
                        <li class="sub-slide {% if sidebarmenu == 'manage_users' %}is-expanded active{% endif %}"> 
                            <a class="sub-side-menu__item {% if sidebarmenu == 'manage_users' %}active{% endif %}" data-bs-toggle="sub-slide" href="#">
                                <span class="sub-side-menu__label ">Opciones Usuarios</span>
                                <i class="sub-angle fa fa-angle-right"></i>
                            </a> 
                            <ul class="sub-slide-menu {% if sidebarmenu == 'manage_users' %}open{% endif %}"> 
                                <li><a class="sub-slide-item {% if sidebarsubmenu == 'manage_genders' %}active{% endif %}" href="{% url 'manage_genders' %}" >Administrar Generos</a></li> 
                                <li><a class="sub-slide-item {% if sidebarsubmenu == 'manage_cities' %}active{% endif %}" href="{% url 'manage_cities' %}">Administrar Ciudades</a></li> 
                                <li><a class="sub-slide-item {% if sidebarsubmenu == 'manage_nationalities' %}active{% endif %}" href="{% url 'manage_nationalities' %}">Administrar Nacionalidades</a></li> 
                            </ul> 
                        </li>
                        <li class="sub-slide {% if sidebarmenu == 'manage_mining' %}is-expanded active{% endif %}"> 
  
                            <ul class="sub-slide-menu {% if sidebarmenu == 'manage_mining' %}open{% endif %}"> 
                                <li><a class="sub-slide-item {% if sidebarsubmenu == 'manage_managemining' %}active{% endif %}" href="{% url 'manage_mining' %}" >Administrar Faenas</a></li> 
                                <li><a class="sub-slide-item {% if sidebarsubmenu == 'manage_documentsmining_general' %}active{% endif %}" href="{% url 'manage_mining_documents_general' %}">Documentación General</a></li>
                            </ul> 
                        </li>
                        <li class="sub-slide {% if sidebarmenu == 'manage_ayuda_manuales' %}is-expanded active{% endif %}"> 
                            <a class="sub-side-menu__item {% if sidebarmenu == 'manage_ayuda_manuales' %}active{% endif %}" data-bs-toggle="sub-slide" href="{% url 'manage_help_manuals' %}">
                                <span class="sub-side-menu__label ">Opciones Ayuda y Manuales</span>
                                <i class="sub-angle fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if request.user.role == "ADMINISTRADOR" %} 
                <li class="slide {% if sidebarmain == 'system_report_error' %}is-expanded{% endif %}"> 
                    <a class="side-menu__item {% if sidebarmain == 'system_report_error' %}is-expanded active{% endif %}" data-bs-toggle="slide" href="{% url 'manage_report_error' %}"> 
                        <i class="icon-people icons-size"></i>
                        <span class="side-menu__label">Reporte de Errores</span>
                        <i class="angle fa fa-angle-right"></i>
                    </a>
                </li>
                {% endif %}
                <div class="mt-5"></div>
                {% endif %}
            </ul>
            <div class="slide-right" id="slide-right">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                </svg> 
            </div>
        </div>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 100px;">
            <div class="ps__thumb-y" tabindex="0" ></div>
        </div>
    </div>
</div>