{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Checklist Materiales Caseta{% endblock %}

{% block content %}

<div class="app-content main-content mt-0">
    <div class="side-app"> <!-- CONTAINER -->
        <div class="main-container container-fluid"> <!-- PAGE-HEADER -->
            <div class="page-header">
                <div>
                    <h1 class="page-title">Nuevo Checklist Materiales Caseta</h1>
                </div>
                <div class="ms-auto pageheader-btn">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Mantenedor Sistema</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Nuevo Checklist Caseta</li>
                    </ol>
                </div>
            </div> <!-- PAGE-HEADER END --> <!-- row -->
            <div class="row row-sm">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                    <div class="card box-shadow-0">                        
                        <div class="card-body">
                            <h4 class="card-title">Datos Principales</h4>
                            <p class="card-title">Atención: una vez creado no podrás eliminar este registro</p>
                            <form class="form-horizontal" id="form" action="#" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                            
                                <!-- Información Principal -->
                                <div class="card box-shadow-0">
                                    <div class="card-body">
                                        <div class="row row-sm">
                                            {{ formTop|crispy }}
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- Información de Materiales (Incluye todo en una tabla) -->
                                <div class="card box-shadow-0">
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-3">Item</th>
                                                    <th class="col-md-1">Buenos</th>
                                                    <th class="col-md-1">Malos</th>
                                                    <th class="col-md-3">Observación</th>
                                                    <th class="col-md-2">Fotografía</th>
                                                    <th class="col-md-2">Vista Previa</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for material in materiales %}
                                                    <tr>
                                                        <td>{{ material.material }}</td>
                                                        <td>
                                                            <input type="number" name="b_{{ material.id }}" min="0" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input type="number" name="m_{{ material.id }}" min="0" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input type="text" name="observacion_{{ material.id }}" class="form-control">
                                                        </td>
                                                        <td>
                                                            <!-- Input para subir una nueva imagen -->
                                                            <input type="file" name="fotografia_{{ material.id }}" id="fotografia_{{ material.id }}" 
                                                                   class="form-control" onchange="prepararImagen(this, 'fotografia_{{ material.id }}')">
                                                        </td>
                                                        <td>
                                                            <!-- Botón para ver la imagen seleccionada -->
                                                            <button type="button" class="btn btn-info btn-sm" onclick="abrirModal('fotografia_{{ material.id }}')">Ver Seleccionada</button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                                 
                            
                                <!-- Botones de acción -->
                                <div class="form-group mt-3">
                                    <div> 
                                        <a class="btn btn-secondary" href="{% url 'dashboardSondaje' %}">Regresar</a> 
                                        <button type="submit" class="btn btn-primary">Guardar</button>                                         
                                    </div>
                                </div>
                            </form>                           
                        </div>  
                    </div>
                </div>                
            </div> 
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">        
    // Agregar clases a los divs para darle estilo con Bootstrap
    document.getElementById('div_id_fecha_checklist').classList.add('col-md-3');
    document.getElementById('div_id_turno').classList.add('col-md-3');
    document.getElementById('div_id_responsable').classList.add('col-md-3');
    document.getElementById('div_id_cargo').classList.add('col-md-3');
</script>

<script type="text/javascript">
    // Almacena temporalmente las imágenes seleccionadas
    const imagenesSeleccionadas = {};

    // Función para preparar la imagen seleccionada
    function prepararImagen(input, inputId) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                // Guarda la imagen en memoria asociada al input
                imagenesSeleccionadas[inputId] = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            // Si no hay archivo seleccionado, elimina la imagen de la memoria
            delete imagenesSeleccionadas[inputId];
        }
    }

    // Función para abrir un modal con la imagen seleccionada
    function abrirModal(inputId) {
        const imagenSeleccionada = imagenesSeleccionadas[inputId];
        if (imagenSeleccionada) {
            Swal.fire({
                title: 'Vista Previa',
                imageUrl: imagenSeleccionada,
                imageAlt: 'Imagen Seleccionada',
                confirmButtonText: 'Cerrar',
            });
        } else {
            Swal.fire({
                icon: 'info',
                title: 'Sin Imagen Seleccionada',
                text: 'Por favor, selecciona una imagen para visualizar.',
                confirmButtonColor: '#ff00d9',
            });
        }
    }
</script>

<script type="text/javascript">
    const form = document.querySelector('#form');
    form.addEventListener('submit', (event) => {
        event.preventDefault();        
        const formData = new FormData(form);
        $.LoadingOverlay("show");
        $.ajax({
            url: '{% url 'new_checklist_materiales_caseta' %}',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                $.LoadingOverlay("hide");
                Swal.fire({
                    icon: 'success',
                    title: 'Checklist Creada con éxito!',
                    confirmButtonColor: '#ff00d9',
                }).then(() => {
                    window.location.href = '{% url 'dashboardSondaje' %}';
                });
            },
            error: function(error) {
                $.LoadingOverlay("hide");
                Swal.fire({
                    icon: 'error',        
                    titleText: 'Error al Crear Checklist',
                    text: 'Vuelva a intentarlo!',  
                    confirmButtonColor: '#ff00d9',
                })
            }
        });
    });
</script>  
{% endblock javascript %}


{% block messages %}
{% endblock messages%}