{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Editar Maquinaria{% endblock %}

{% block css %}
    <link href="{% static 'css/floating.css' %}" rel="stylesheet" />
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/responsive.dataTables.min.css' %}" rel="stylesheet" />
{% endblock css %}

{% block content %}
<form class="form-horizontal" id="form" action="#" method="POST" enctype="multipart/form-data">
{% csrf_token %}    

<button type="submit" class="btn btn-primary save-float">Guardar</button>
<a href="{% url 'manage_machines' %}" class="btn btn-secondary back-float">Regresar</a>

<div class="app-content main-content mt-0">
    <div class="side-app"> <!-- CONTAINER -->
        <div class="main-container container-fluid"> <!-- PAGE-HEADER -->
            <div class="page-header">
                <div>
                    <h1 class="page-title">Detalles Maquinaria {{maquinaria.maquinaria}}</h1>
                </div>
                <div class="ms-auto pageheader-btn">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Registro Maquinaria</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Editar Maquinaria</li>
                    </ol>
                </div>
            </div>
            <div class="card"> 
                <div class="panel panel-primary">
                    <div class="tab-menu-heading border-bottom-0"> 
                        <div class="tabs-menu4 border-bottomo-sm"> 
                            <!-- Tabs --> 
                            <nav class="nav d-sm-flex d-block"> 
                                <a id="nav25" class="nav-link border border-bottom-0 br-sm-5 me-2 active" data-bs-toggle="tab" href="#tab25">Datos Principales</a> 
                                <a id="nav26" class="nav-link border border-bottom-0 br-sm-5 me-2" data-bs-toggle="tab" href="#tab26">Historial Faenas</a>
                                <a id="nav27" class="nav-link border border-bottom-0 br-sm-5 me-2" data-bs-toggle="tab" href="#tab27">Historial Mantenimientos</a>
                                <a id="nav28" class="nav-link border border-bottom-0 br-sm-5 me-2" data-bs-toggle="tab" href="#tab28">Historial Horómetros</a>
                            </nav> 
                        </div> 
                    </div>
                    <div class="panel-body tabs-menu-body"> 
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab25">
                                <div class="row row-sm">
                                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                                        <div class="card box-shadow-0">                        
                                            <div class="card-body">
                                                <h4 class="card-title">Datos Principales</h4>  
                                                <input type="hidden" name="maquinaria_id" value="{{ maquinaria.id }}">
                                                <div class="row row-sm">
                                                    {{ formnuevamaquinaria|crispy }}
                                                </div>
                                                {% if request.user.role == "SUPERVISOR" %}
                                                <input type="hidden" name="faena" value="{{ faena }}">
                                                {% endif %}
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab26"> 
                                <div class="row row-sm"> 
                                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                                        <div class="card box-shadow-0">                        
                                            <div class="card-body">
                                                <h4 class="card-title">Historial de Faenas</h4>
                                                <table id="datatable-allusers" class="display nowrap" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Estado</th>
                                                            <th>Faena</th>
                                                            <th>Fecha</th>
                                                            <th>Asignado por:</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for faena in historialfaenas %} 
                                                            <tr>
                                                                <td class="dtr-control"></td>
                                                                <td>{% if faena.status %} Activa {% else %} Histórica {% endif %}</td>
                                                                <td>{{ faena.faena}}</td>
                                                                <td>{{ faena.fechacreacion|date:"d-m-Y H:i" }}</td>
                                                                <td>{{ faena.creador }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>                    
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab27">
                                <div class="row row-sm"> 
                                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                                        <div class="card box-shadow-0">                        
                                            <div class="card-body">
                                                <h4 class="card-title">Historial de Mantenimientos</h4>
                                                <table id="datatable-mantenimientos" class="display nowrap" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Fecha</th>
                                                            <th>Estado</th>
                                                            <th>Solicitante</th>
                                                            <th>Faena</th>                                        
                                                            <th>turno</th>
                                                            <th>Acciones</th> 
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for solicitud in solicitudesMantenimiento %} 
                                                            <tr>
                                                                <td class="dtr-control"></td>
                                                                <td>{{ solicitud.fechacreacion|date:"d-m-Y H:i" }}</td>
                                                                <td>
                                                                    {% for opcion in choicesprogreso %}
                                                                        {% if solicitud.progreso == opcion.0 %} 
                                                                            {{ opcion.1 }}
                                                                        {% endif %}
                                                                    {% endfor%}
                                                                </td>
                                                                <td>{{ solicitud.solicitante.first_name }} {{ solicitud.solicitante.last_name }}</td>
                                                                <td>{{ solicitud.faena}}</td>
                                                                <td>{% if solicitud.turno == '1' %}Turno A{% elif solicitud.turno == '2' %}Turno B{% endif %}</td>
                                                                <form action="#"></form>
                                                                <td class="form-inline-btn"> 
                                                                    <form action="{% url 'edit_maintenance_machine_request' %}" method="POST" >
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="solicitud_id" value="{{ solicitud.id }}">
                                                                        <input type="hidden" name="origen_id" value="maquinaria">
                                                                        <button type="submit" class="btn btn-info btn-size-adm">Revisar</button> 
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>                    
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab28">
                                <div class="row row-sm"> 
                                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                                        <div class="card box-shadow-0">                        
                                            <div class="card-body">
                                                <h4 class="card-title">Historial de Horómetros</h4>
                                                <table id="datatable-horometros" class="display nowrap" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Fecha</th> 
                                                            <th>Horómetros</th>
                                                            <th>Origen Registro</th>
                                                            <th>Responsable</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for horometro in horometros %} 
                                                            <tr>
                                                                <td class="dtr-control"></td>
                                                                <td>{{ horometro.fechacreacion|date:"d-m-Y H:i" }}</td>
                                                                <td class="cambiarNumero" style="text-align: right;">{{ horometro.horometro }} </td>
                                                                <td>{{ horometro.origen }}</td>
                                                                <td>{{ horometro.creador }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>                    
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div>
            </div> 
        </div>
    </div>
</div>
</form>
{% endblock content %}

{% block javascript %}
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Buscar el nombre del cookie
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script type="application/javascript">
    function initializeDataTable(selector) {
        new DataTable(selector, {
            columnDefs: [
                {
                    className: 'dtr-control',
                    orderable: false,
                    targets: 2
                },
            ],
            language: {
                url: '{% static "json/es-CL.json" %}',
            },
            columnDefs: [
                { searchable: false, targets: [0] },
                { orderable: false, targets: [0] }
            ],
            /*order: [1, 'asc'],*/
            responsive: {
                details: {
                    type: 'column'
                }
            }
        });
    }
    document.addEventListener('DOMContentLoaded', function() {
        initializeDataTable('#datatable-allusers');
        initializeDataTable('#datatable-mantenimientos');
        initializeDataTable('#datatable-horometros');
    });
</script>
<script>
    var marca = document.getElementById('id_marca');
    while (marca.firstChild) {
        marca.removeChild(marca.firstChild);
    }
    marca.innerHTML = '<option value="">---------</option>';
    var tipoMaquina = document.getElementById('id_tipo')
    $(window).on("load", function (e) {
        var tipoId = {{ maquinaria.tipo.id }};
        if (tipoId) {
            $.LoadingOverlay("show");
            $.ajax({
                url: '{% url 'cargar_marca_por_tipo' %}',
                method: 'GET',
                data: {
                    'tipo_id': tipoId
                },
                dataType: 'json',
                success: function(data) {
                    $.LoadingOverlay("hide");
                    var selectKit = document.getElementById('id_marca');
                    data.forEach(function(marca) {
                        var option = document.createElement('option');
                        option.value = marca.id;
                        option.text = marca.nombre;
                        if (marca.nombre == '{{ maquinaria.marca }}' && tipoId == {{ maquinaria.tipo.id}} ){
                            option.selected = true;
                        };
                        selectKit.appendChild(option);
                    });
                }
            });
        }
    });
    tipoMaquina.addEventListener('change', function() {
        var tipoId = this.value;
        marca.innerHTML = '<option value="">---------</option>';
        if (tipoId) {
            $.LoadingOverlay("show");
            $.ajax({
                url: '{% url 'cargar_marca_por_tipo' %}',
                method: 'GET',
                data: {
                    'tipo_id': tipoId
                },
                dataType: 'json',
                success: function(data) {
                    $.LoadingOverlay("hide");
                    var selectKit = document.getElementById('id_marca');
                    data.forEach(function(marca) {
                        var option = document.createElement('option');
                        option.value = marca.id;
                        option.text = marca.nombre;
                        if (marca.nombre == '{{ maquinaria.marca }}' && tipoId == {{ maquinaria.tipo.id}} ){
                            option.selected = true;
                        };
                        selectKit.appendChild(option);
                    });
                }
            });
        }
    });
</script>
<script src="{% static 'js/custommachinenew.js' %}"></script>
<script src="{% static 'js/formatmoney.js' %}"></script>
<script type="text/javascript"> 
    const form = document.querySelector('#form');
    form.addEventListener('submit', (event) => {
    event.preventDefault();        
    const formData = new FormData(form);
    $.LoadingOverlay("show");
    $.ajax({
        url: '{% url 'save_edit_machine_profile' %}',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
            $.LoadingOverlay("hide");
            Swal.fire({
                icon: 'success',
                title: 'Maquinaria Actualizada con éxito!',
                confirmButtonColor: '#ff00d9',
            }).then(() => {
                window.location.href = '{% url 'manage_machines' %}';
            });
        },
        error: function(error) {
            $.LoadingOverlay("hide");
            Swal.fire({
                icon: 'error',        
                titleText: 'Maquinaria no se Actualizó',
                text: 'Vuelva a intentarlo!',  
                confirmButtonColor: '#ff00d9',
            })
        }
        });
    });
</script>
{% endblock javascript %}