{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Administración de Matenimientos{% endblock %}

{% block css %}
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/responsive.dataTables.min.css' %}" rel="stylesheet" />
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock css %}

{% block content %}

<div class="app-content main-content mt-0">
    <div class="side-app"> <!-- CONTAINER -->
        <div class="main-container container-fluid"> <!-- PAGE-HEADER -->
            <div class="page-header">
                <div>
                    <h1 class="page-title">Administrar Mantenimientos</h1>
                </div>
                <div class="ms-auto pageheader-btn">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Registro Vehicular</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Administrar Mantenimientos</li>
                    </ol>
                </div>
            </div> <!-- PAGE-HEADER END --> <!-- row -->
            <h5 class="mb-5"></h5> 
            <div class="row row-sm"> 
                <table id="datatable-allusers" class="display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Patente</th>
                            <th>Solicitante</th>
                            <th>Faena</th>
                            <th>Turno</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Acciones</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for solicitud in solicitudes %}                            
                            <tr>
                                <td class="dtr-control"></td>
                                <td>{{ solicitud.vehiculo.placaPatente }}</td>
                                <td>{{ solicitud.solicitante.first_name }} {{ solicitud.solicitante.last_name }}</td>
                                <td>{{ solicitud.faena}}</td>
                                <td>{% if solicitud.turno == '1' %}Turno A{% elif solicitud.turno == '2' %}Turno B{%else%}No Aplica{% endif %}</td>
                                <td>{{ solicitud.fechacreacion|date:"d-m-Y H:i" }}</td>
                                <td>
                                    {% for opcion in choicesprogreso %}
                                        {% if solicitud.progreso == opcion.0 %} 
                                            {{ opcion.1 }}
                                        {% endif %}
                                    {% endfor%}
                                </td>
                                <td class="form-inline-btn"> 
                                    <form action="{% url 'edit_maintenance_request' %}" method="POST" >
                                        {% csrf_token %}
                                        <input type="hidden" name="solicitud_id" value="{{ solicitud.id }}">
                                        <input type="hidden" name="origen_id" value="mantenimiento">
                                        <button type="submit" class="btn btn-info btn-size-adm">Revisar</button> 
                                    </form>
                                    <form class="maintenance-form" id="formulario-{{ solicitud.id }}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="solicitud_id" value="{{ solicitud.id }}">
                                        <button type="submit" class="btn btn-warning btn-size-edit">Pdf</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>                    
                </table>
            </div>            
        </div>
        <h5 class="mb-5"></h5> 
        <div class="main-container container-fluid"> 
            <a class="btn btn-secondary" href="{% url 'dashboard' %}">Regresar</a> 
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script>
    const pdfViewUrl = '{% url "maintenance_pdf_view" %}';
    const classForm = '.maintenance-form';
    const idDataTable = '#datatable-allusers';
    const urlLenguage = '{% static "json/es-CL.json" %}';
</script>
<script src="{% static 'js/createpdf.js' %}"></script>
{% endblock javascript %}