{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Informar de Nuevo Mantenimiento Maquinaria{% endblock %}

{% block css %}
    <link href="{% static 'css/floating.css' %}" rel="stylesheet" />
{% endblock css %}

{% block select2 %}
    <link rel="stylesheet" href="{% static 'css/multi-select-tag.css' %}">
    <script src="{% static 'js/multi-select-tag.js' %}"></script>
{% endblock select2 %}

{% block content %}

<form class="form-horizontal" id="form" action="#" method="POST"  enctype="multipart/form-data">                                
{% csrf_token %}   

<button type="submit" class="btn btn-primary save-float">Guardar</button>
{% if request.user.role == "ADMINISTRADOR" %}
<a href="{% url 'dashboard' %}" class="btn btn-secondary back-float">Regresar</a>
{% endif %}

<div class="app-content main-content mt-0">
    <div class="side-app"> <!-- CONTAINER -->
        <div class="main-container container-fluid"> <!-- PAGE-HEADER -->
            <div class="page-header">
                <div>
                    <h1 class="page-title">Informar Nuevo Mantenimiento Maquinaria</h1>
                </div>
                <div class="ms-auto pageheader-btn">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Registro Maquinaria</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Nuevo Mantenimiento Maquinaria</li>
                    </ol>
                </div>
            </div> <!-- PAGE-HEADER END --> <!-- row -->
            <div class="row row-sm">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                    <div class="card box-shadow-0">                        
                        <div class="card-body">
                            <div class="qr-button">
                                <h4 class="card-title">Datos Principales</h4>
                                <a  href="media/base/qr-nueva-mantencion-maquinaria.jpg" target="_blank" class="btn btn-warning btn-size-adm">Ver Código QR</a>
                            </div>
                            <p class="card-title">Atención: Asegurate de ingresar correctamente toda la información</p>
                            <input type="hidden" name="solicitante_id" value="{{ solicitante_id }}">                        
                            <div class="row row-sm">
                                {{ formnuevasolicitud|crispy }}
                            </div> 
                            <div class="row">
                                <div class="card card-custom" style="width:250px">     
                                    <h6 class="form-group">Fotografía 1</h6>     
                                    <a href="media/base/no-imagen2.png" target="_blank" id="hrefUno">   
                                        <img class="card-img-top" src="media/base/no-imagen2.png" value="media/base/no-imagen2.png" id="imagenUno" style="width:100%">
                                    </a>
                                    <div class="card-body card-body-custom">                                        
                                        <div>
                                            <label for="foto" class="form-label"></label>
                                            <input type="file" name="fotografiaUno" id="fotografiaUno" class="form-control foto-size">
                                        </div>  
                                    </div>
                                    <div>
                                        <h6 class="form-group" style="display: flex; align-items: center; justify-content: space-around;">
                                            Eliminar Fotografía? 
                                            <label class="switch">
                                                <input type="checkbox" id="toggle-Uno" name="toggle-Uno" value="no" onclick="toggleSwitch('toggle-Uno')">
                                                <span class="slider round"></span>
                                            </label>
                                        </h6> 
                                    </div>                                    
                                </div>
                                <div class="card card-custom" style="width:250px">     
                                    <h6 class="form-group">Fotografía 2</h6>     
                                    <a href="media/base/no-imagen2.png" target="_blank" id="hrefDos">   
                                        <img class="card-img-top" src="media/base/no-imagen2.png" value="media/base/no-imagen2.png" id="imagenDos" style="width:100%">
                                    </a>
                                    <div class="card-body card-body-custom">                                        
                                        <div>
                                            <label for="foto" class="form-label"></label>
                                            <input type="file" name="fotografiaDos" id="fotografiaDos" class="form-control foto-size">
                                        </div>  
                                    </div>
                                    <div>
                                        <h6 class="form-group" style="display: flex; align-items: center; justify-content: space-around;">
                                            Eliminar Fotografía? 
                                            <label class="switch">
                                                <input type="checkbox" id="toggle-Dos" name="toggle-Dos" value="no" onclick="toggleSwitch('toggle-Dos')">
                                                <span class="slider round"></span>
                                            </label>
                                        </h6> 
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5"></div>                            
                        </div>  
                    </div>
                </div>                
            </div> 
        </div>
    </div>
</div>
</form>
{% endblock content %}

{% block javascript %}
<script>
    new MultiSelectTag('id_problemas')
</script>
<script>
    var problemas = document.getElementById('id_problemas');
    var drawer = document.getElementById('id_drawer');
    var button = document.getElementById('id_button');
    while (problemas.firstChild) {
        problemas.removeChild(problemas.firstChild);
    }
    while (drawer.firstChild) {
        drawer.removeChild(drawer.firstChild);
    }
    var maquinaria = document.getElementById('id_maquinaria')    
    maquinaria.addEventListener('change', function() {
        var problemas = document.getElementById('id_problemas');
        var drawer = document.getElementById('id_drawer');
        var inputContainer = document.getElementById('id_input-container');
        while (problemas.firstChild) {
            problemas.removeChild(problemas.firstChild);
        }
        while (drawer.firstChild) {
            drawer.removeChild(drawer.firstChild);
        }        
        while (inputContainer.firstChild) {
            inputContainer.removeChild(inputContainer.firstChild);
        }
        var maquinariaId = this.value;
        var listamaquinarias = {{listamaquinarias|safe}}
        listamaquinarias.forEach(function(maquinaria) {
            var maquina = document.getElementById('id_maquinaria');
            var maquinaria_texto = maquina.options[maquina.selectedIndex].textContent;
            var multiselect = document.getElementById('mult-select-tag');
            if ( maquinaria_texto == '---------'){
                multiselect.remove();
                while (problemas.firstChild) {
                    problemas.removeChild(problemas.firstChild);
                }
                new MultiSelectTag('id_problemas');
            } else {
                if (maquinariaId == maquinaria.id) {
                    var selectProblema = document.getElementById('id_problemas');                    
                    multiselect.remove();
                    var listaproblemas = {{listaproblemas|safe}}
                    listaproblemas.forEach(function(problema) {
                        if (maquinaria.marca == problema.marca) {
                            var option = document.createElement('option');
                            option.value =problema.id;
                            option.text = problema.falla;
                            selectProblema.appendChild(option);
                        }
                    });
                    new MultiSelectTag('id_problemas');
                }
            }
        });
    });
    
</script>
<script src="{% static 'js/customnewmaintenancemachinerequest.js' %}"></script>
<script src="{% static 'js/uploadimagemaintenance.js' %}"></script>
<script type="text/javascript"> 
    const form = document.querySelector('#form');
    form.addEventListener('submit', (event) => {
    event.preventDefault();        
    const formData = new FormData(form);
    $.LoadingOverlay("show");
    $.ajax({
        url: '{% url 'save_new_maintenance_machine_request' %}',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
            $.LoadingOverlay("hide");
            Swal.fire({
                icon: 'success',
                title: 'Solicitud Realizada con Exito!',
                confirmButtonColor: '#ff00d9',
            }).then(() => {
                window.location.href = '{% url 'new_maintenance_machine_request' %}';
            });
        },
        error: function(error) {
            $.LoadingOverlay("hide");
            Swal.fire({
                icon: 'error',        
                titleText: 'Error en la Solicitud',
                text: 'Vuelva a intentarlo!',  
                confirmButtonColor: '#ff00d9',
            })
        }
        });
    });
</script>
{% endblock javascript %}

{% block messages %}
{% endblock messages%}